<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net45" />
  <package id="Forecast.io" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Nancy" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.9" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.9" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.9" targetFramework="net45" />
  <package id="Npgsql" version="3.2.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net45" />
</packages>